<header>
  <nav class="navbar bg-base-100">
    <div class="navbar-start">
      <a href="/" class="btn btn-ghost text-xl">Kanto Guide</a>
    </div>
    <div class="navbar-end">
      <ul class="menu menu-vertical lg:menu-horizontal bg-base-200 rounded-box">
        <li><a href="/tokyo">Tokyo</a></li>
        <li><a href="/kanagawa">Kanagawa</a></li>
        <li><a href="/chiba">Chiba</a></li>
        <li><a href="/saitama">Saitama</a></li>
      </ul>
    </div>
  </nav>
</header>
